<!DOCTYPE html>
<html lang="es">

<head>

    
</head>

<body>
    <div class="jumbotron">
        <h1>Vista de productos</h1>
        <br>
        <% if (hayProductos) { %>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tbody>
                        <th>Titulo</th>
                        <th>Precio</th>
                        <th>Thumbnail</th>
                    </tbody>
                    <% productos.forEach(producto => { %>
                        <tr>
                            <td><%= producto.title %></td>
                            <td><%= producto.price %></td>
                            <td><img width="50" src=<%= producto.thumbnail %> alt=""></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        <%} else { %>
            <h3 class="alert alert-warning">No se encontraron productos</h3>
        <% } %>
    </div>
  
</body>

</html>